html {
  /* px signifie "pixels". La taille de police de base est maintenant de 10
     pixels de haut */
  font-size: 10px;
  /* Remplacez EMPLACEMENT par la valeur de la propriété font-family obtenue
     depuis Google Fonts */
  font-family: "Roboto", sans-serif;

  background-color: #00539f;

  color: aliceblue;
}

/* ADD ON */
body {
  width: 800px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  height: 100vh;
  position: relative;
}

button {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 1px 1px 1px black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

a, a:hover, a:visited, a:active {
    color: aliceblue;
}

/*
p {
  color: red;
  width: 500px;
  border: 1px solid black;
}
  */

.fini {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}